<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{Base.site.title}}</title>
        <link rel="stylesheet" href="/css/style.css" />
		<script src="/scripts/main.js"></script>
		
        {{{global.Head2}}}
    </head>
    <body class="box-sizing">
        <div id="header">
            <span id="titleText">Steam Summer Monster Game Emu</span>
            {{#if req.session.user.displayName}}
            <div id="userDetails">
                <span>{{req.session.user.displayName}}</span>
                <img src="{{req.session.user._json.avatarmedium}}">
            </div>
            {{/if}}
        </div>

            {{{body}}}

    	<div id="footer">

    	</div>
    </body>
</html>
